@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file (e.g., index.css) */
.line-clamp-10 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* Adjust this number to show more or fewer lines */
}

/* In your global CSS file (e.g., index.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}